@{
    ViewData["Title"] = "Our Group Project";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<p>Some changes by usko</p>
<p>Some changes by usko branch</p>
